body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #101112;
}

a {
	text-decoration: none;
	font-family: sans-serif;
	text-transform: lowercase;
	font-size: 1.3em;
}

.menu ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	width: 500px;
	height: 60px;
	padding: 0 15px;
	border-radius: 15px;
	border-radius: 15px;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		236deg,
		rgba(255, 255, 255, 0.8169642857142857) 0%,
		rgba(222, 174, 212, 1) 100%
	);
}

.menu ul li {
	list-style: none;
}
.menu ul li a {
	color: #101112;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
}
.menu ul li:hover {
	transform: scale(2);
}

@-webkit-keyframes ring {
	0% {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	2% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	4% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	6% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	8% {
		-webkit-transform: rotate(-22deg);
		transform: rotate(-22deg);
	}

	10% {
		-webkit-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	12% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	14% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	16% {
		-webkit-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	18% {
		-webkit-transform: rotate(12deg);
		transform: rotate(12deg);
	}

	20% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes ring {
	0% {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	2% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	4% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	6% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	8% {
		-webkit-transform: rotate(-22deg);
		transform: rotate(-22deg);
	}

	10% {
		-webkit-transform: rotate(22deg);
		transform: rotate(22deg);
	}

	12% {
		-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	}

	14% {
		-webkit-transform: rotate(18deg);
		transform: rotate(18deg);
	}

	16% {
		-webkit-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}

	18% {
		-webkit-transform: rotate(12deg);
		transform: rotate(12deg);
	}

	20% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
	-webkit-animation: ring 2s ease infinite;
	animation: ring 2s ease infinite;
	-ms-transform-origin-x: 50%;
	-ms-transform-origin-y: 0px;
	-ms-transform-origin-z: initial;
}

.menu ul li:hover a::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: violet;
	bottom: -10px;
	left: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
