@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Grape Nuts", cursive;
	font-size: 18px;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
}
main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2bdcd;
}
section {
	padding: 2rem;
	background-color: #fadf3e;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
	letter-spacing: 1.5px;
	font-size: 24px;
}
h1 {
	text-transform: capitalize;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	color: #333;
	margin-bottom: 0.6rem;
}
.cheked {
	color: #333;
	text-decoration: line-through;
}
ul {
	list-style: none;
}
